<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
        <link rel="stylesheet" href="css/store.css">
</head>

<body>
    <%- include('partials/header') %>

        <main>
            <div id="relBar">
                <select name="" id="selectBar">
                    <option value="alphabet">Alphabetically</option>
                    <option value="popular">Most popular</option>
                    <option value="price">Priceless</option>
                    <option value="Date">Date</option>
                </select>
            </div>
            <div id="collections">
                <% for( let i=0; i < products.length; i++ ) { %>
                <div class="model">
                    <figure>
                        <img class="model2" src="img/<%= products[i].imageModel %>" alt="">
                        <img class="model1" src="img/<%= products[i].image %>" alt="">
                        <h2><%= products[i].name %></h2>
                        <h3>$<%= products[i].price %></h3>
                    </figure>
                </div>
                <% } %>
            </div>
            <br>
        </main>
        <%- include('partials/footer') %>
</body>
</html>