<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head')  %> 
    <link href="/css/home.css" rel="stylesheet">
</head>
<body>
    <%- include('partials/header')  %> 

    <section class="index">
        <div id="bg-img">
            <img class="img-bg" src="/img/bg-home.jpg" alt="">
        </div>
        <div id="bg-phone">
            <img class="img-bg-phone" src="/img/bg-home-phone.jpg" alt="">
        </div>
        <div class="video">
            <video autoplay loop muted plays-inline class="videoauto">
                <source src="/img/&otherstories.mp4" type="video/mp4">
            </video>
        </div>
        <div class="info">
            <p>Discover dresses and separates, defined by free-flowing feminine silhouettes and<br>adorable details. 
            Each piece of the co-lab collection is a treasure with its own stories to tell.</p>
            <div class="container">
                <a href="/store/otherstories">
                    <button class="btn btn-tp1">
                        SHOP NOW
                    </button>
                </a>
            </div>
        </div>
    </section>
    
    <main>
        <section class="scroll2">
            <div class="text">
                <p id="collection">MINJUKIM x &otherstories</p>
                <p id="quote">"My collections are like my diary."</p>
            </div>
            <div class="shop">
                <% for(let i=0; i<4; i++){ if(products[i]?.display_home == 1){ %>
                    <a href="/details/<%= products[i]?.id_product %>">
                        <figure>
                            <img class="model-dress2" src="/img/<%= products[i]?.image_model %>" alt="<%= products[i].image_alt %>">
                            <img class="dress2" src="/img/<%= products[i]?.image %>" alt="<%= products[i]?.image_alt %>">
                            <p id="description"><%= products[i]?.product_name %>  <span>$<%= products[i]?.price %> </span></p>
                        </figure>
                    </a>
                <% }} %>
            </div>
            <div class="container">
                <a href="/store/otherstories">
                    <button class="btn2 btn-tp2">
                        SEE MORE
                    </button>
                </a>
            </div>
        </section>

        <section>
            <div class="title-col">
                <h2>NEWEST RELEASE</h2>
                <br>
            </div>
        </section>
        
        <section class="scroll3">
            <img src="/img/bari-collection.jpg" alt="Ruffle organza mini dress - yellow print">
            <div class="description">
                <div>
                    <h3>MINJUKIM SS22 BARI</h3>
                    <p>
                        The concept of MINJUKIM's collection is "BARI".<br>
                        "BARI" is the one and only god among many gods,<br>
                        praying to people by coming and going between <br> 
                        the underworld and this world.
                    </p>
                </div>
                <a href="/store/bari">
                    <button class="btn3 btn-tp3">
                        BUY NOW
                    </button>
                </a>
            </div>
        </section>
        
        <section class="scroll4">
            <div class="video2">
                <video autoplay loop muted>
                    <source src="/img/knight-of-the-knight.mp4" type="video/mp4">
                </video>
            </div>
        </section>
    </main>
    <%- include('partials/footer') %>
    <script src="../../public/javascripts/script.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>