<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
        <link rel="stylesheet" href="/css/store.css">
</head>

<body>
    <%- include('partials/header') %>

        <main>
            <div id="relBar">
                <select name="" id="selectBar">
                    <option value="alphabet">Alphabetically</option>
                    <option value="popular">Most popular</option>
                    <option value="price">Priceless</option>
                    <option value="otherstories">&OtherStories</option>
                    <option value="bari">Bari</option>

                </select>
            </div>
            <div id="collections">
                <% for( let i=0; i < products.length; i++ ) { %>
                <div class="model">
                        <a href="/details/<%= products[i].id_product %>">
                            <figure>
                                <img class="model2" src="/img/<%= products[i].image_model %>" alt="">
                                <img class="model1" src="/img/<%= products[i].image %>" alt="">
                                <h2><%= products[i].product_name %></h2>
                                <h3>$<%= products[i].price %></h3>
                            </figure>
                        </a>
                </div>
                <% } %>
            </div>
            <br>
        </main>
        <%- include('partials/footer') %>
</body>
</html>